//Media Queries
$tablet-width: 768px;
$desktop-width: 1024px;

//Colors
$main-bg: #f0f0f0;
$portfolio-bg: #fff;
$nav-bg: #fff;

//Font-Family
$pontano: #{'Pontano Sans'}, sans-serif;

//Font-Size
$font-small: 0.875em;
$font-medium: 1em;
$font-large: 1.75em;
$font-nav: 0.9em;

//Font-Weight
$font-thin: 200;
$font-normal: 400;
$font-bold: 700;

//Line-Height
$line-h1: 0.8em;
